albumentations==1.0.3
alembic==1.6.5
asgiref==3.4.1
astroid==2.7.3
asyncpg==0.24.0
attrs==21.2.0
autoflake==1.4
backports.entry-points-selectable==1.1.0
beautifulsoup4==4.6.3
certifi==2021.5.30
cffi==1.14.6
charset-normalizer==2.0.4
click==7.1.2
cmake==3.21.2
cmd2==2.1.2
colorama==0.4.4
cycler==0.10.0
databases==0.4.3
DateTime==4.3
distlib==0.3.2
efficientnet-pytorch==0.7.1
fastapi==0.68.0
filelock==3.0.12
Flask==2.0.1
future==0.18.2
gunicorn==20.1.0
h11==0.12.0
idna==3.2
imageio==2.9.0
intel-openmp==2021.3.0
isort==5.9.3
itsdangerous==2.0.1
Jinja2==3.0.1
joblib==1.0.1
kaggle==1.5.12
kiwisolver==1.3.1
lazy-object-proxy==1.6.0
libcst==0.3.20
Mako==1.1.4
MarkupSafe==2.0.1
matplotlib==3.4.3
mccabe==0.6.1
MechanicalSoup==0.8.0
mkl==2021.3.0
mkl-include==2021.3.0
mypy-extensions==0.4.3
networkx==2.6.2
ninja==1.10.2
numpy==1.21.1
opencv-python-headless==4.5.3.56
pandas==1.3.1
passlib==1.7.4
pathspec==0.9.0
pbr==5.6.0
Pillow==8.3.1
platformdirs==2.2.0
prettytable==0.7.2
progressbar2==3.34.3
psycopg2==2.9.1
pycln==1.0.3
pycodestyle==2.7.0
pycparser==2.20
pydantic==1.8.2
pyflakes==2.3.1
pylint==2.10.2
pyparsing==2.4.7
pyperclip==1.8.2
pyreadline3==3.3
python-dateutil==2.8.2
python-editor==1.0.4
python-slugify==5.0.2
python-utils==2.5.6
pytz==2021.1
PyWavelets==1.1.1
PyYAML==5.4.1
regex==2021.8.28
requests==2.26.0
scikit-image==0.18.2
scikit-learn==0.24.2
scipy==1.7.1
six==1.16.0
sklearn==0.0
SQLAlchemy==1.3.24
starlette==0.14.2
stevedore==3.3.0
tbb==2021.3.0
text-unidecode==1.3
threadpoolctl==2.2.0
tifffile==2021.8.8
toml==0.10.2
tomli==1.2.1
torch==1.9.0+cu111
torchaudio==0.9.0
torchvision==0.10.0+cu111
tqdm==4.62.1
typer==0.3.2
typing==3.7.4.3
typing-extensions==3.10.0.0
typing-inspect==0.7.1
urllib3==1.26.6
uuid==1.30
uvicorn==0.15.0
virtualenv==20.7.2
wcwidth==0.2.5
Werkzeug==2.0.1
wrapt==1.12.1
zope.interface==5.4.0
