.content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.icon {
  width: 72.85px;
  height: 85.84px;
}

.oilContent {
  width: 100%;
  line-height: 7px;
  font-weight: 500;
  font-size: 18px;
  margin-top: 6%;
  margin-left: 20px
}