.loginCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.castrolLogo {
  padding-left: 18px;
  padding-top: 2px;
  width: 250px;
  height: 150px;
}

.formInput {
  padding: 10px 12px;
  width: 90%;
  margin-bottom: 20px;
  border: 1px solid #ccc;
}

.logInButton {
  background-color: #009A4E;
  color: #FFFFFF;
  width: 100%;
  height: 56px;
  border-radius: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  font-weight: 600;
  font-size: 22px;
}

.forgotPass {
  color: #009A4E;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-decoration: none;
}

.passwordIcon {
  color: #009A4E;
  align-items: right;
  position: absolute;
  z-index: 99;
  text-align: center;
  font-weight: 500;
  margin-top: 9px;
  margin-left: -45px;
  font-size: 14px;
}

.contactless {
  padding-left: 50px;
}

.error {
  padding-bottom: 10px;
  text-align: center;
  color: #ee1a2d;
  font-weight: 600;
}

.hide {
  visibility: hidden;
}