.loginCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.castrolLogo {
  padding-left: 18px;
  padding-top: 2px;
  width: 250px;
  height: 150px;
}

.contactless {
  padding-left: 50px;
}